/*estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.toolbar{
    width: 100%;
    display: grid;
    align-items:center;
    justify-content: baseline ;
    font-family: 'Salsa', cursive;
}
.logo{
    border: solid;
    width: 80px;
    height: 80;
}

.marca{
    display: flex;
    justify-content: center;
    border: solid;
    margin: 15px;
}
.name{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
}
.opcionespg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    padding: 7px 20px 7px 20px;
    border: solid;
}                           

a{
    text-decoration: none;
}